NodeRed/ExampleFlow.json
[{"id":"33251451.b63d6c","type":"tab","label":"Transfer data from UCP to InfluxDB","disabled":false,"info":""},{"id":"46400a96.3da244","type":"inject","z":"33251451.b63d6c","name":"Define tag list, trigger every 500ms","props":[{"p":"TagNames","v":"GDB_operate_machineState  GDB_process_numberProduced  GDB_process_numberFaulty  GDB_numberGood  GDB_signals_tankSignals_actLevel  GDB_signals_tankSignals_actTemperature  GDB_signals_tankSignals_actPressure  GDB_signals_energySignals_energyConsumptionHeatingTank  GDB_signals_energySignals_energyConsumptionFillingTank  GDB_signals_energySignals_energyConsumptionFillingBottles  GDB_signals_energySignals_waterConsumptionFillingTank  GDB_signals_energySignals_gasConsumptionHeatingTank","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":260,"y":280,"wires":[["cf0c5509.1522b8"]]},{"id":"cf0c5509.1522b8","type":"hmi-read-tags","z":"33251451.b63d6c","name":"Read HMI tags","x":520,"y":280,"wires":[["1d0f2727.9e17a9"]]},{"id":"1d0f2727.9e17a9","type":"function","z":"33251451.b63d6c","name":"","func":"var input = msg.payload.Params.Tags\nvar output = {}\n\ninput.forEach(tag => {\n    output[tag.Name] = tag.Value * 1\n})\nmsg.payload = output\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":280,"wires":[["f192713f.645bd","787053e0.0b657c"]]},{"id":"f192713f.645bd","type":"debug","z":"33251451.b63d6c","name":"Preview","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":280,"wires":[]},{"id":"787053e0.0b657c","type":"influxdb out","z":"33251451.b63d6c","influxdb":"148acfb4.a996e","name":"InfluxDB - Store data","measurement":"tank","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"siemens","bucket":"ucp_data","x":900,"y":220,"wires":[]},{"id":"148acfb4.a996e","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"influxDB","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://influxdb:8086","timeout":"10","rejectUnauthorized":true}]